body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
.main-content {
  flex-grow: 2;
}
.main-layout > * {
  max-width: 1344px;
}
.narrow-layout > * {
  max-width: 627px;
}
.main-layout > *,
.narrow-layout > * {
  margin-left: auto;
  margin-right: auto;
}
.page-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 672px) {
  .half-width {
    max-width: 672px;
  }
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
