.nav {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}
.rightLinks {
  display: flex;
  align-items: center;
}
.rightLinkItems {
  list-style-type: none;
  font-size: 1.1rem;
}

.link {
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.activeLink {
  color: #0ea68c;
}

.header {
  display: grid;
  justify-content: center;
  background-color: #f47174;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.header .logo {
  font-size: 3rem;
  margin: 2rem 0rem;
}
@media only screen and (min-width: 40rem) {
  .nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .rightLinkItems {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 62rem) {
  .nav {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .rightLinkItems {
    font-size: 1.3rem;
  }
}
