.card {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 90%;
}
.product {
  position: relative;
  list-style: none;
  display: grid;
  justify-items: center;
}
.badge {
  position: absolute;
  top: 0;
  left: 0;
}
.productImage {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.name {
  margin-top: 1rem;
  font-size: 1.65rem;
}
.price {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.description {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #5a5858;
}
.button {
  cursor: pointer;
  background-color: #f44336;
  opacity: 0.92;
  transition: 0.3s;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1.1rem 1.6rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  margin: 1.5rem;
  justify-self: center;
  box-sizing: border-box;
  width: 90%;
}
.button:hover {
  color: #f44336;
  border: 1.5px solid #f44336;
  box-shadow: 0 0 20px rgb(244, 67, 54, 0.5);
  background-color: white;
}
